__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
sdist/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST

*.manifest
*.spec
*.swp

pip-log.txt
pip-delete-this-directory.txt

.snakemake
Snakefile

tmp/
